<div class="row">
  <div class="col-sm-8 blog-main">
    $for(posts)$
        <div class="blog-post">
        <h2 class="blog-post-title">$title$</h2>
        <p class="blog-post-meta">$date$ by $author$ $if(category)$ in $category$$endif$</p>
        <p>$teaser$</<p>
        <p><a href="$url$">Read more</a></p>
      </div>
    $endfor$
  </div>
  <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About me</h4>
            <p>My name is Melissa Jade Katon. I'm an Australian expat living in Belgium, studying mathematics and statistics at the Open University.</p>
            <p><a href="/about">Read more</a></p>
          </div>
          <div class="sidebar-module">
            <h4>Find me on...</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.github.com/melissakaton">GitHub</a></li>
              <li><a href="http://www.twitter.com/melkbaert">Twitter</a></li>
              <li><a href="http://www.quora.com/profile/Melissa-Baert">Quora</a></li>
              <li><a href="http://www.instagram.com/geelthemechelseherder">Instagram</a></li>
            </ol>
          </div>
        </div>
</ul>
